<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color='black'>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-[6.5rem] text-[41px] font-semibold tracking-wide">Accesorios</h2>
        </header>

        <main class="z-30 relative flex flex-grow flex-nowrap justify-end flex-col pb-[3rem]">
            <div class="gap-x-6 flex mx-auto">
                <a href="#" class="text-white border-[3px] border-gray-800 bg-gray-800 text-[14px] rounded font-semibold px-20 py-2 inline-block tracking-wider">Compra ahora</a>
            </div>
            
        </main>
        <footer>
            <ul class="flex w-full h-full pb-5 justify-center pr-[6rem] text-gray-500 text-[12px] pl-[2rem] [&>li>a]:px-4 [&>li>a]:font-semibold">
                <li><a href="#">Tesla © 2023</a></li>
                <li><a href="#">Privacidad y legal</a></li>
                <li><a href="#">Llamadas a revision de vehiculos</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Ubicaciones</a></li>
            </ul>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/accesorios.avif" alt="Accesorios" class="h-full w-full object-cover object-center">
    </div>
</section>