<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color='white'>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-[6.5rem] text-[41px] font-semibold tracking-wide">Vive la experiencia Tesla</h2>
            <p class="text-white text-sm tracking-widest">Agenda una demostracion de manejo hoy</p>
        </header>

        <footer class="z-30 relative flex flex-grow flex-nowrap justify-end flex-col pb-20">
            <div>
                <a href="#" class="text-white text-[14px] border-[3px] border-white rounded font-semibold px-10 py-2 inline-block hover:bg-white hover:text-black tracking-wider">Demostracion de manejo</a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <video autoplay muted loop src="/tesla-video.mp4" class="object-center object-cover h-full w-full"></video>
    </div>
</section>